<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{msg}}

      <ul>
        <!-- if for 结合 -->
        <li v-for="(value,index) in list" v-if="value.age >= 15">
          {{index}} -- {{value.name}}--{{value.age}}
        </li>
      </ul>
    </div>
    <!-- v-for -->
    <!-- (item) in items(array,obj) -->
    <!--她同一for 循环方法，无论是对象还是数组都能使用for进行循环 -->
    <script>
      app = new Vue({
        el: "#app",
        data: {
          msg: "hello world",
          //对象
          /* list: {
            red: {
              name: "小红子",
              age: 15,
            },
            yellow: {
              name: "小黄子",
              age: 18,
            },
          }, */

          //数组
          list: [
            {
              name: "小红子",
              age: 15,
            },
            {
              name: "小黄子",
              age: 16,
            },
            {
              name: "小绿子",
              age: 13,
            },
          ],
        },
      });
      /* 
        js 循环 for / for in / for of / foreach
      */
    </script>
  </body>
</html>
