<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{msg}}

      <input type="text" v-model="msg" />
      {{isChecked}}
      <input type="checkbox" v-model="isChecked" />
    </div>

    <script>
      //v-model 还有修饰符 number trim lazy
      app = new Vue({
        el: "#app",
        data: {
          msg: "hello world",
          isChecked: false,
        },
      });
    </script>
  </body>
</html>
